<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.browser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".newplaces" />
        <activity android:name=".andhrapradesh" />
        <activity android:name=".himachalpradesh" />
        <activity android:name=".food1" />
        <activity android:name=".spots1" />
        <activity android:name=".aktori" />
        <activity android:name=".babru" />
        <activity android:name=".bhey" />
        <activity android:name=".chhagosht" />
        <activity android:name=".dham" />
        <activity android:name=".khatta" />
        <activity android:name=".kullufish" />
        <activity android:name=".madra" />
        <activity android:name=".mittha" />
        <activity android:name=".siddu" />
        <activity android:name=".tibetan" />
        <activity android:name=".tudkiya" />
        <activity android:name=".jammukashmir" />
        <activity android:name=".spots3" />
        <activity android:name=".food3" />
        <activity android:name=".aludum" />
        <activity android:name=".kaladikulcha" />
        <activity android:name=".kashmiripolao" />
        <activity android:name=".khattameat" />
        <activity android:name=".nadruyakhni" />
        <activity android:name=".patisa" />
        <activity android:name=".seekkabab" />
        <activity android:name=".rajmachawal" />
        <activity android:name=".haryana" />
        <activity android:name=".spots4" />
        <activity android:name=".food4" />
        <activity android:name=".alsipinni" />
        <activity android:name=".bajraaluruti" />
        <activity android:name=".dhaniacholia" />
        <activity android:name=".gajarmethisabzi" />
        <activity android:name=".kachdisabzi" />
        <activity android:name=".kachilassi" />
        <activity android:name=".kadhi" />
        <activity android:name=".kheer" />
        <activity android:name=".mithachawal" />
        <activity android:name=".mixeddal" />
        <activity android:name=".spots9" />
        <activity android:name=".food9" />
        <activity android:name=".biriyanih" />
        <activity android:name=".curdrice" />
        <activity android:name=".chepapulusu" />
        <activity android:name=".gongurapickle" />
        <activity android:name=".meduvada" />
        <activity android:name=".pesarattu" />
        <activity android:name=".pulihora" />
        <activity android:name=".uppindi" />
        <activity android:name=".westbengal" />
        <activity android:name=".debo" />
        <activity android:name=".moon" />
        <activity android:name=".khichiri" />
        <activity android:name=".malaikari" />
        <activity android:name=".lin" />
        <activity android:name=".paturi" />
        <activity android:name=".pithe" />
        <activity android:name=".hilsa" />
        <activity android:name=".rosogola" />
        <activity android:name=".arunachalpradesh" />
        <activity android:name=".food11" />
        <activity android:name=".spots11" />
        <activity android:name=".apong" />
        <activity android:name=".bambooshoot" />
        <activity android:name=".lukter" />
        <activity android:name=".momo" />
        <activity android:name=".pehak" />
        <activity android:name=".pikapila" />
        <activity android:name=".rice" />
        <activity android:name=".uttarpradesh" />
        <activity android:name=".pla" />
        <activity android:name=".foo" />
        <activity android:name=".batichokha" />
        <activity android:name=".cholebatore" />
        <activity android:name=".kheer2" />
        <activity android:name=".kofta" />
        <activity android:name=".kulfi" />
        <activity android:name=".lapsi" />
        <activity android:name=".nihari" />
        <activity android:name=".assam" />
        <activity android:name=".spots12" />
        <activity android:name=".food12" />
        <activity android:name=".khar" />
        <activity android:name=".duckcurry" />
        <activity android:name=".masortonga" />
        <activity android:name=".paromanxho" />
        <activity android:name=".bangajor" />
        <activity android:name=".pitha" />
        <activity android:name=".silkworm" />
        <activity android:name=".uttarakhand" />
        <activity android:name=".pla6" />
        <activity android:name=".foo6" />
        <activity android:name=".dubuk" />
        <activity android:name=".gulgula" />
        <activity android:name=".kafuli" />
        <activity android:name=".kandalee" />
        <activity android:name=".phanu" />
        <activity android:name=".raita" />
        <activity android:name=".tripura" />
        <activity android:name=".pla7" />
        <activity android:name=".foo7" />
        <activity android:name=".chakhwi" />
        <activity android:name=".mosdeng" />
        <activity android:name=".mwkhwi" />
        <activity android:name=".kothalor" />
        <activity android:name=".oambal" />
        <activity android:name=".telangana" />
        <activity android:name=".pla8" />
        <activity android:name=".foo8" />
        <activity android:name=".biriyani" />
        <activity android:name=".chegodilu" />
        <activity android:name=".garijalu" />
        <activity android:name=".polelu" />
        <activity android:name=".sarvapindi" />
        <activity android:name=".chakinalu" />
        <activity android:name=".tamilnadu" />
        <activity android:name=".foo9" />
        <activity android:name=".pla9" />
        <activity android:name=".dosa" />
        <activity android:name=".mulligawtamy" />
        <activity android:name=".payasam" />
        <activity android:name=".urlairoast" />
        <activity android:name=".vada" />
        <activity android:name=".yedli" />
        <activity android:name=".sikkim" />
        <activity android:name=".pla10" />
        <activity android:name=".foo10" />
        <activity android:name=".momo2" />
        <activity android:name=".thukpa" />
        <activity android:name=".kinema" />
        <activity android:name=".pakku" />
        <activity android:name=".phulaurah" />
        <activity android:name=".rajasthan" />
        <activity android:name=".pla11" />
        <activity android:name=".foo11" />
        <activity android:name=".halwa" />
        <activity android:name=".dilkhushal" />
        <activity android:name=".kachori" />
        <activity android:name=".kadi" />
        <activity android:name=".kalmivada" />
        <activity android:name=".laalmaas1" />
        <activity android:name=".punjab" />
        <activity android:name=".pla12" />
        <activity android:name=".foo12" />
        <activity android:name=".chickenbutter" />
        <activity android:name=".dalmakhni" />
        <activity android:name=".fishtikka" />
        <activity android:name=".murghmalai" />
        <activity android:name=".tandori" />
        <activity android:name=".saag" />
        <activity android:name=".odisha" />
        <activity android:name=".pla13" />
        <activity android:name=".foo13" />
        <activity android:name=".chennapoda" />
        <activity android:name=".gajja" />
        <activity android:name=".kendrapara" />
        <activity android:name=".keonjhar" />
        <activity android:name=".khaja" />
        <activity android:name=".korakhai" />
        <activity android:name=".welcome"></activity>
    </application>

</manifest>